/************************************TAG SELECTORS***************************************/
body {
    background-color: #f7f6f4;
    margin:0;
    font-family: 'Merriweather', serif;
    color: #40514E;
    text-align: center;
}

h1 {
  color: #00C1D4;
  font-family: 'Eagle Lake', cursive;
  font-size: 4rem;
  margin: 0 auto;
}

h1:hover {
  color: green;
}

h2 {
  color: #00C1D4;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  font-weight: normal;
  padding: 30px;
  margin: 0
}

h2:hover {
  color: green;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

td {
  line-height: 1.5;
  font-size: 1.3rem;
  margin: 0 auto;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

li {
    min-height: 30px;
    padding: 3px 0px;
}

ul {
    padding: 0px;
}
/************************************CLASS SELECTORS***************************************/
.top-container {

}

.middle-container {
  margin: 50px 0;
  text-align: left;
}

.bottom-container {
  background-color: black;
  padding: 50px 0 20px;
  margin: 100px auto 0;
}

.profile-img {
    height: 250px;
    width: 250px;
    padding: 30px 0 30px 0;
}

.subtitle {
      font-size: 2.5rem;
      width: 70%;
      margin: 0 auto 30px;
}

.pro-subtitle {
  text-decoration: underline;
}

.quote-img{
    width: 100vw;
    margin: 80px auto;


}

.education{
    background-color: #f7f6f4;
    width: 90%;
    margin: 50px auto;
}

.work {
    background-color: #f7f6f4;
    width: 90%;
    margin: 50px auto;
}

.skills {
    background-color: #f7f6f4;
    width: 90%;
    margin: 50px auto;
}

.skill-name {
    display: inline-block;
    line-height: 1.5;
    font-size: 1.3rem;
    width: 50%;
    margin: 0 auto;
}

.skill-rating {
    float: right;
    line-height: 1.5;
    font-size: 1.3rem;
}

/*
.contact-me {
    text-align: center;
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
*/
.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
/************************************ID SELECTORS***************************************/
